.applications-content {
  margin-top: 1.5em;
}

.application-item .header .label {
  margin-left: 0.7em;
}

.label-list-row .column {
  margin: 0
}

.label-list-row ul {
  margin: 0;
  margin-top: 0.3em;
  padding-left: 1.2em;
}

.label-list-row .divider {
  font-weight: normal;
  text-transform: none;
  color: gray;
}

